<template name="creatingCompetitionForm">
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-3" name="email-form-3" data-name="Email Form 3">
                <div class="w-layout-grid grid-14">
                    <div id="w-node-bf3771b3f26c-1832a9dc" class="w-row">
                        <div class="column-17 w-col w-col-6 w-col-small-6 w-col-tiny-6">
                            <label class="field-label-14">Miejscowość</label>
                            <input type="text" class="text-field-16 w-input" maxlength="256" name="town" placeholder="Wpisz miejscowość">
                        </div>
                        <div class="column-18 w-col w-col-6 w-col-small-6 w-col-tiny-6">
                            <label class="field-label-13">Data</label>
                            <input type="number" class="text-field-15 w-input" maxlength="256" name="date" placeholder="Wpisz date">
                        </div>
                    </div>
                        <label class="field-label-8">Opis</label>
                        <input type="text" class="text-field-17 w-input" maxlength="256" name="description" placeholder="Podaj opis">
                    <div class="columns-7 w-row">
                        <div class="column-20 w-col w-col-6">
                            <label class="field-label-10">Start</label>
                            <input type="text" class="text-field-19 w-input" maxlength="256" name="start" placeholder="Podaj miejsce startu">
                        </div>
                        <div class="column-19 w-col w-col-6">
                            <label class="field-label-9">meta</label>
                            <input type="text" class="text-field-18 w-input" maxlength="256" name="meta" placeholder="Podaj koniec trasy">
                        </div>
                    </div>
                    <div class="columns-8 w-row">
                        <div class="column-22 w-col w-col-6">
                            <label class="field-label-11">Długość trasy</label>
                            <input type="number" class="text-field-21 w-input" maxlength="256" name="routeLength" placeholder="Wpisz dlugość trasy">
                        </div>
                        <div class="column-21 w-col w-col-6">
                            <label class="field-label-12">Profil trasy</label>
                            <input type="number" class="text-field-20 w-input" maxlength="256" name="routeProfile" placeholder="Wpisz profil trasy">
                        </div>
                    </div>
                    
                    <input type="button" id="submit-form" value="Submit" data-wait="Please wait..." class="submit-button-6 w-button">
                </div>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</template>