<template name="creatingCompetitionForm">
    <div class="w-container">
        <div class="w-form">
            <form id="email-form-3" name="email-form-3" data-name="Email Form 3">
                <div class="w-layout-grid grid-14">
                    <div id="w-node-bf3771b3f26c-1832a9dc" class="w-row">
                        <div class="column-17 w-col w-col-6 w-col-small-6 w-col-tiny-6"><label
                                class="field-label-14">Miejscowość</label><input type="text"
                                class="text-field-16 w-input" maxlength="256" name="field" data-name="Field"
                                placeholder="Example Text" id="field" required=""></div>
                        <div class="column-18 w-col w-col-6 w-col-small-6 w-col-tiny-6"><label
                                class="field-label-13">Data</label><input type="number" class="text-field-15 w-input"
                                maxlength="256" name="field-2" data-name="Field 2" placeholder="Example Text"
                                id="field-2" required=""></div>
                    </div><label class="field-label-8">Opis</label><input type="text" class="text-field-17 w-input"
                        maxlength="256" name="field-3" data-name="Field 3" placeholder="Example Text" id="field-3"
                        >
                    <div class="columns-7 w-row">
                        <div class="column-20 w-col w-col-6"><label class="field-label-10">Start</label><input
                                type="text" class="text-field-19 w-input" maxlength="256" name="field-4"
                                data-name="Field 4" placeholder="Example Text" id="field-4" required=""></div>
                        <div class="column-19 w-col w-col-6"><label class="field-label-9">meta</label><input type="text"
                                class="text-field-18 w-input" maxlength="256" name="field-4" data-name="Field 4"
                                placeholder="Example Text" id="field-4" required=""></div>
                    </div>
                    <div class="columns-8 w-row">
                        <div class="column-22 w-col w-col-6"><label class="field-label-11">Długość trasy</label><input
                                type="number" class="text-field-21 w-input" maxlength="256" name="field-5"
                                data-name="Field 5" placeholder="Example Text" id="field-5" required=""></div>
                        <div class="column-21 w-col w-col-6"><label class="field-label-12">Profil trasy</label><input
                                type="number" class="text-field-20 w-input" maxlength="256" name="field-5"
                                data-name="Field 5" placeholder="Example Text" id="field-5" required=""></div>
                    </div><input type="button" value="Submit" data-wait="Please wait..."
                        class="submit-button-6 w-button">
                </div>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</template>