<template name="navbar">
<div data-collapse="medium" data-animation="default" data-duration="400" class="navigation w-nav">
        <div class="navigation-items">
          <a href="/" class="logo-link w-nav-brand w--current">
            <img
              src="/img/logo.png"
              width="61" alt="" class="logo-image">
          </a>
          <div class="navigation-wrap">
            <nav role="navigation" class="navigation-items w-nav-menu">
  
              <div class="facebook-2 w-widget w-widget-facebook">
                <iframe
                  src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fwebflow&amp;layout=button_count&amp;locale=pl_PL&amp;action=like&amp;show_faces=false&amp;share=false"
                  scrolling="no" frameborder="0" allowtransparency="true"
                  style="border: none; overflow: hidden; width: 110px; height: 21px;">
                </iframe>
              </div>
  
              <a href="/" class="navigation-item w-nav-link w--current">Home</a>
              <a href="/competition" class="navigation-item w-nav-link">Zawody</a>
              <a href="/ranking" class="navigation-item w-nav-link">Ranking</a>
              <a href="/login" class="navigation-item w-nav-link">Logowanie</a>
            </nav>
  
            <div class="menu-button w-nav-button">
              <img src="/img/navbar-item1.png"
                width="22" alt="" class="menu-icon">
            </div>
  
          </div>
          <div class="w-nav-overlay" data-wf-ignore="">
          </div>
        </div>
</div>
</template>