<template name="signUpForm">
    <div class="column-2 w-col w-col-6 w-col-medium-6 w-col-small-6 w-col-tiny-6">
        <div>
            <h1 class="heading-2">Zarejestruj się</h1>
            <div class="w-form">
                <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="post">
                    <label for="Imie-2" class="field-label-3">Imie</label>
                    <input type="text" class="text-field-5 w-input" autofocus="true" maxlength="256" name="firstName" data-name="Imie 2" id="Imie-2">
                    
                    <label for="name-5" class="field-label-4">nazwisko</label>
                    <input type="text" class="text-field-2 w-input" autofocus="true" maxlength="256" name="lastName" id="name-4">
                    
                    <label for="rok-urodzenia-2" class="field-label-5">rok urodzenia</label>
                    <input type="number" class="text-field-6 w-input" autofocus="true" maxlength="256" name="dateOfBirth" id="rok-urodzenia-2">
                    
                    <label for="name-5" class="field-label-6">miasto</label>
                    <input type="text" class="text-field-7 w-input" autofocus="true" maxlength="256" name="town" id="name-5">
                    
                    <label for="email-7" class="field-label-7">zespół</label>
                    <input type="text" class="text-field-8 w-input" autofocus="true" maxlength="256" name="team" data-name="Email 4" id="email-4">
                    
                    <label for="Email-7" class="field-label">adres email</label>
                    <input type="email" class="text-field-3 w-input" maxlength="256" name="email" id="Email-6">
                    
                    <label for="Email-7" class="field-label">hasło</label>
                    <input type="password" class="text-field-3 w-input" maxlength="256" name="password" id="password">
                    
                    <input type="button" value="Zarejestruj się" data-wait="Please wait..." class="w-button" id="submit-form">
                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</template>