<template name="footer">
    <div class="footer-wrap">
        <div><a href="" target="_blank" class="webflow-link w-inline-block"><img src="/img/logo.png" width="73"
                    alt=""></a></div>
        <div class="footer-links">
            <a href="https://www.facebook.com" target="_blank" class="footer-item">Facebook</a>
            <a href="https://twitter.com" target="_blank" class="footer-item">Twitter</a>
            <a href="https://www.instagram.com" target="_blank" class="footer-item">Instagram</a>
        </div>
    </div>
</template>