<template name="competitionItem">
        <a href="/competitionPlace" class="link-block w-inline-block">
            <div class="columns-3 w-row">
                <div class="w-col w-col-3">
                    <h1 class="miejsceheader">Kraków</h1>
                </div>
                <div class="w-col w-col-9">
                    <p class="paragraph">29.02.2019</p>
                    <div class="text-block-3">This is some text inside of a div block.</div>
                </div>
            </div>
            <div class="div-block-2"></div>
        </a>
</template>