<template name="competitionItem">
        <a href="/competitionPlace/{{id}}" class="link-block w-inline-block">
            <div class="columns-3 w-row">
                <div class="w-col w-col-3">
                    <h1 class="miejsceheader">{{town}}</h1>
                </div>
                <div class="w-col w-col-9">
                    <p class="paragraph">{{date}}</p>
                    <div class="text-block-3">{{description}}</div>
                </div>
            </div>
            <div class="div-block-2"></div>
        </a>
</template>