<template name="slider">
<div class="div-block-4">
        <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
  
          <div class="w-slider-mask">
            <div class="slide w-slide" style="transform: translateX(0px); opacity: 1;">
              <img src="https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d39e0324d78c754ec3670f4_7.jpg"
                height="1000" width="1275"
                srcset="https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d39e0324d78c754ec3670f4_7-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d39e0324d78c754ec3670f4_7-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d39e0324d78c754ec3670f4_7-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d39e0324d78c754ec3670f4_7.jpg 2550w"
                sizes="100vw" alt="" class="image-7">
            </div>
            <div class="w-slide" style="transform: translateX(0px); opacity: 1;">
              <img src="https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d3df4d0cb7dfd795ef4ee2d_2.jpg"
                srcset="https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d3df4d0cb7dfd795ef4ee2d_2-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d3df4d0cb7dfd795ef4ee2d_2-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d3df4d0cb7dfd795ef4ee2d_2-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d3df4d0cb7dfd795ef4ee2d_2-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d3df4d0cb7dfd795ef4ee2d_2-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/5d39df0c3956d22b7132a9d4/5d3df4d0cb7dfd795ef4ee2d_2.jpg 2560w"
                sizes="100vw" alt="" class="image-8">
            </div>
          </div>
  
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
  
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
  
          <div class="w-slider-nav w-round">
            <div class="w-slider-dot w-active" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
          </div>
        </div>
      </div>
</template>